@import './variables.css';

.light-theme {
  --color-background: var(--color-light-background);
  --color-text: var(--color-light-text);
  --color-primary: var(--color-light-primary);
  --color-secondary: var(--color-light-secondary);
  --color-accent: var(--color-light-accent);
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  color: var(--color-text);
  padding: var(--spacing-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

#theme-switch {
  position: fixed;
  top: 0;
  right: 0;
  padding: var(--spacing-small);
  cursor: pointer;
  background-color: var(--color-secondary);
}

.container {
  background-color: var(--color-secondary);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  color: lightslategrey; /* Inherits text color unless overridden */
  width: 50vw;

  & h1 {
    font-family: var(--font-secondary);
    font-size: calc(var(--spacing-large) * var(--dynamic-scale));
    margin-bottom: var(--spacing-medium);
    text-align: center;
    color: var(--color-primary); /* Overrides the parent color */
  }

  & h2 {
    font-size: calc(var(--spacing-medium) * var(--dynamic-scale));

    text-align: center;
  }

  /* Scoped styles */
  & .card {
    color: var(--color-text);
    transform: scale(var(--dynamic-scale));
    margin-bottom: calc(var(--spacing-large) * 2);

    /* Change scale dynamically */
    &:hover {
      --dynamic-scale: 1.05;
    }
  }
}

@property --card-background-color {
  syntax: '<color>';
  initial-value: #0f1235; /* Default value */
  inherits: false; /* Prevent inheritance */
}

.card {
  --card-background-color: var(
    --color-accent
  ); /* Override the @property value */
  background-color: var(--card-background-color);

  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  transition: transform 0.3s ease-in-out;
}

.card-text {
  padding: var(--spacing-medium);
  background-color: var(
    --card-background-color
  ); /* Doesn't inherit the custom property from the parent */
  border-radius: var(--border-radius);
}

@media (max-width: 1024px) {
  :root {
    --spacing-small: 6px;
    --spacing-medium: 12px;
    --spacing-large: 24px;
    --border-radius: 6px;

    --dynamic-scale: 0.9;
  }
}

@media (max-width: 768px) {
  :root {
    --spacing-small: 4px;
    --spacing-medium: 8px;
    --spacing-large: 16px;
    --border-radius: 4px;

    --dynamic-scale: 0.8;
  }
}

@media (max-width: 480px) {
  :root {
    --spacing-small: 2px;
    --spacing-medium: 6px;
    --spacing-large: 12px;
    --border-radius: 2px;

    --dynamic-scale: 0.7;
  }
}
